@import 'src/variables.sass'

#banner
    margin: 40px
    padding: 10px
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
    border-radius: 20px
    text-align: center

.final-day
    background-color: $color-yellow
    margin: 40px
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    border-radius: 40px

.final-day-content
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 20px


.day-info
    background-color: $color-white
    height: fit-content
    padding: 10px
    border-radius: 20px
    display: flex
    flex-direction: column
    justify-content: flex-end
    min-width: 200px
    width: 20%
    max-width: 220px

.first-macro
    padding-top: 15px

.day-info p
    margin: 0
    padding: 3px


.final-meals
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap
    gap: 20px

.macro
    display: flex
    justify-content: space-between
    gap: 20px
    min-width: 180px

.final-meal
    background-color: $color-white
    padding: 15px
    border-radius: 20px
    display: flex
    flex-direction: column
    justify-content: flex-end
    min-width: 580px

.meal-title
    display: flex
    justify-content: space-between
    align-items: center

.meal-actual-title
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    line-clamp: 1
    -webkit-box-orient: vertical

.meal-title p 
    margin: 0
    padding: 0
    
.meal-title input
    width: 50px
    border: none
    outline: none
    background-color: $color-yellow
    cursor: pointer

.meal-title .input-percent
    background-color: $color-yellow
    padding: 5px
    border-radius: 20px
    display: flex
    flex-wrap: nowrap !important

.meal-ingredients
    padding: 5px 0
    padding-right: 20px
    border-right: 1px solid $color-grey
    margin-right: 20px
    width: 50%
    min-width: 220px

.meal-ingredient
    display: flex
    margin-bottom: 5px
    gap: 20px
    justify-content: space-between
    align-items: center
    min-width: 210px

.meal-ingredient p
    margin: 0
    padding: 0
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    line-clamp: 1
    -webkit-box-orient: vertical

.meal-ingredient input
    width: 70px
    height: fit-content
    padding: 0px
    border: none
    outline: none
    background-color: $color-yellow
    cursor: pointer

.meal-details
    display: flex
    height: 100%
    padding: 0px
    padding-top: 20px 

.meal-ratio
    width: 30%
    margin-left: auto


.meal-ratio p 
    margin: 0
    padding: 0
    margin-top: 5px

.weight-input
    background-color: $color-yellow
    padding: 5px
    border-radius: 20px
    min-width: 80px

.ingredient-hub
    display: flex
    align-items: center
    gap: 5px

#empty-box
    height: 25px

#button-box
    box-sizing: border-box
    width: 100%
    padding: 5px 100px
    display: flex
    flex-direction: row
    justify-content: space-between
    position: fixed
    bottom: 0
    background-color: $color-black-o04

.apply-changes-button
    margin: 10px 5px


@media screen and (max-width: $layout-breakpoint-medium)
    #banner
        margin: 20px

    .final-day
        margin: 20px
        border-radius: 20px
    
    .final-day-content
        flex-direction: column
        align-items: center

    .day-info
        width: 100%

    .final-meals
        flex-direction: column
        width: 100%
        flex-wrap: nowrap

    .final-meal
        min-width: 0
        width: 100%
        justify-content: center

    .meal-details
        flex-direction: column
        padding-top: 15px

    .meal-title
        border-bottom: 1px solid $color-grey
        padding-bottom: 10px

    .meal-ingredients
        min-width: 0
        width: 100%
        border-right: none
        border-bottom: 1px solid $color-grey
        // border-top: 1px solid $color-grey
        padding-right: 0
        margin-right: 0
        padding-bottom: 10px

    .meal-ingredient
        min-width: none
        flex-direction: row
        flex-wrap: wrap
        justify-content: flex-start
        gap: 0px
        margin-bottom: 10px
        & p
            margin-right: auto
        & .ingredient-hub
            margin-left: auto
        & .weight-input
            min-width: 50px
            & input
                width: 50px


    .meal-ratio
        padding-top: 15px
        margin-left: 0
        width: 100%

    #button-box
        padding: 7px 10px
    
@media screen and (min-width: $layout-breakpoint-small + 1) and (max-width: $layout-breakpoint-medium)
    .final-meals
        display: grid
        grid-template-columns: repeat(2, 1fr)

