@import 'src/variables.sass'

#container
    display: flex
    flex-direction: column
    align-items: center
    justify-items: space-between

#ingredients-box
    width: 100%
    display: grid
    justify-items: center
    align-items: start
    grid-template-columns: repeat(var(--num-of-columns), 1fr)
    background-color: $color-black-o04
    max-width: 700px
    border-radius: 20px
    grid-column-gap: 20px
    padding: 20px
    
.ingredients
    padding: 10px
    background-color: $color-yellow
    border-radius: 10px
    display: flex
    flex-direction: column
    width: fit-content

.ingredient
    padding-bottom: 5px
    display: flex
    flex-direction: row
    align-items: center
    gap: 20px   

.ingredient-info 
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    gap: 20px

.ingredient p
    margin: 0

.weight
    min-width: fit-content

#empty-box
    height: 25px

#button-box
    box-sizing: border-box
    width: 100%
    padding: 5px 100px
    display: flex
    flex-direction: row
    justify-content: space-between
    position: fixed
    bottom: 0
    background-color: $color-black-o04