<div id="container">
    <div [formGroup]="addMealForm" id="add-meal-container">
    <p class="normal-wide-text">Add a new meal</p>
        <div class="input-container" [ngClass]="{'wrong-input': addMealForm.get('name')!.touched && addMealForm.get('name')!.invalid}"> 
            <p class="super-small-wide-text">Name</p>
            <input class="input" formControlName="name" id="name" type="text" placeholder="Name of Your new meal">
        </div>

        <div class="input-container" [ngClass]="{'wrong-input': addMealForm.get('timeToPrepare')!.touched && addMealForm.get('timeToPrepare')!.invalid}">
            <p class="super-small-wide-text">Time to prepare in minutes</p>
            <input class="input" formControlName="timeToPrepare" step=1 id="time-to-prepare" type="number" min="1" placeholder="Time [min]">
        </div>

        <div id="ingredients" class="input-container" [ngClass]="{'wrong-input': ingredientsArray!.touched && ingredientsArray!.invalid}">
            <p class="super-small-wide-text">Ingredients with weights</p>
            <span formArrayName="ingredientsArray">
                <div class="ingredient-with-weight" *ngFor="let ingredientForm of ingredientsArray.controls; let i = index" [formGroupName]="i">
                    <div class="ingredient-form">
                        <input class="input ingredient-input" [ngClass]="{'wrong-input': ingredientForm.get('name')!.touched && ingredientForm.get('name')!.invalid}" 
                            list="ingredients-list" formControlName="name" placeholder="Choose ingredient...">
                        <input class="input weight-input" [ngClass]="{'wrong-input': ingredientForm.get('weight')!.touched && ingredientForm.get('weight')!.invalid}" 
                            type="number" formControlName="weight" min="1" step=1 placeholder="Weight [g]">
                        <fa-icon class="btn" [icon]="deleteIcon" [ngClass]="{'display-none': ingredientsArray.length <= 1}" (click)="deleteIngredientField(i)"></fa-icon>
                    </div>
                </div>
            </span>
            <fa-icon class="add-icon btn" [icon]="addIcon" (click)="addIngredientField()"></fa-icon>
        </div>

        <div id="categories" class="input-container" [ngClass]="{'wrong-input': categoriesArray!.touched && categoriesArray.invalid}">
            <p class="super-small-wide-text">Categories</p>
            <span formArrayName="categoriesArray">
                <div *ngFor="let categoryForm of categoriesArray.controls; let i = index" [formGroupName]="i">
                    <div class="category-form">
                        <input class="input" [ngClass]="{'wrong-input': categoryForm.get('name')!.touched && categoryForm.get('name')!.invalid}" list="categories-list" 
                            formControlName="name" placeholder="Choose category...">
                        <fa-icon class="btn" [icon]="deleteIcon" [ngClass]="{'display-none': categoriesArray.length <= 1}" (click)="deleteCategoryField(i)"></fa-icon>
                    </div>
                </div>
            </span>
            <fa-icon class="add-icon btn" [icon]="addIcon" (click)="addCategoryField()"></fa-icon>
        </div>  

        <div class="input-container" [ngClass]="{'wrong-input': addMealForm.get('recipe')!.touched && addMealForm.get('recipe')!.invalid}">            
            <p class="super-small-wide-text">Recipe</p>
            <textarea class="super-super-small-text" formControlName="recipe" id="recipe" type="text" placeholder="How to prepare Your meal?">
            </textarea>
        </div>

        <div class="input-container">
            <p class="super-small-wide-text">Meal Image</p>
            <input type="file" class="super-small-text" (change)="fileChangeEvent($event)">
        </div>

        <div *ngIf="imageChangedEvent" id="image-cropper-container">
            <image-cropper id="image-cropper"
                #cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="840 / 320"
                format="jpeg"
                (imageCropped)="imageCropped($event)"
                (loadImageFailed)="loadImageFailed()"
                [resizeToWidth]="840"
                [resizeToHeight]="320"
                [onlyScaleDown]="true"
            ></image-cropper>

            <img *ngIf="croppedImage" [src]="croppedImage" width="420" height="160"/>
        </div>


        <div id="add-meal-btn-container">
            <button class="btn btn-primary-green normal-text upload-button" (click)="upload()">Upload</button>
        </div>
    </div>

    <datalist id="ingredients-list">
        <option *ngFor="let ingredient of ingredients">{{ingredient.name}}</option>
    </datalist>
    <datalist id="categories-list">
        <option *ngFor="let category of categories">{{category.name}}</option>
    </datalist>
</div>