<div class="flex-row">
    <form (ngSubmit)="onSubmit()" [formGroup]="bodyInfoForm" class="small-wide-text">
        <div class="multi-input">
            <label for="goal"><b>Diet Goal</b></label>

            <div class="multi-input-choices">
                <div [ngClass]="{'chosen': bodyInfoForm.value.goal === 'LOSE_WEIGHT'}" class="single-input bigger-on-hover">
                    <input type="radio" id="lose" formControlName="goal" name="goal" value="LOSE_WEIGHT">
                    <label for="lose"><b>lose</b> weight</label>
                </div>

                <div [ngClass]="{'chosen': bodyInfoForm.value.goal === 'MAINTAIN_WEIGHT'}" class="single-input bigger-on-hover">
                    <input type="radio" id="maintain" formControlName="goal" name="goal" value="MAINTAIN_WEIGHT">
                    <label for="maintain"><b>maintain</b> weight</label>
                </div>
            
                <div [ngClass]="{'chosen': bodyInfoForm.value.goal === 'GAIN_WEIGHT'}" class="single-input bigger-on-hover">
                    <input type="radio" id="gain" formControlName="goal" name="goal" value="GAIN_WEIGHT">
                    <label for="gain"><b>gain</b> weight</label>
                </div>
            </div>
        </div>

        <div class="line-hr"></div>

        <div class="multi-input">
            <label for="gender"><b>Gender</b></label>

            <div class="multi-input-choices">
                <div [ngClass]="{'chosen': bodyInfoForm.value.gender === 'MALE'}" class="single-input bigger-on-hover">
                    <input type="radio" id="male" formControlName="gender" name="gender" value="MALE">
                    <label for="male"><b>Male</b></label>
                </div>

                <div [ngClass]="{'chosen': bodyInfoForm.value.gender === 'FEMALE'}" class="single-input bigger-on-hover">
                    <input type="radio" id="female" formControlName="gender" name="gender" value="FEMALE">
                    <label for="female"><b>Female</b></label>
                </div>
            </div>
        </div>

        <div class="single-input">
            <label for="height"><b>Height</b> (cm)</label>
            <input class="small-wide-text" type="number" id="height" min="30" max="260" name="height" formControlName="height" />
        </div>

        <div class="single-input">
            <label for="weight"><b>Weight</b> (kg)</label>
            <input class="small-wide-text" type="number" id="weight" min="5" max="500" name="weight" formControlName="weight" />
        </div>
        
        <div class="single-input">
            <label for="age"><b>Age</b> (years)</label>
            <input class="small-wide-text" type="number" id="age" min="16" max="150" name="age" formControlName="age" />
        </div>
        
        <div class="single-input pal-input">
            <label for="pal"><b>Physical Activity Level</b></label>
            <input type="range" id="pal" name="pal" formControlName="pal" name="value" min="1.4" max="2.5" step="0.1" value="1.4">
            
            <p>Example:</p>
            <div *ngIf="bodyInfoForm.value.pal! < 1.7" class="description super-small-wide-text">
                Office worker getting little or no exercise
            </div>
            <div *ngIf="bodyInfoForm.value.pal! < 2.0 && bodyInfoForm.value.pal! >= 1.7" 
                class="description super-small-wide-text">Construction worker or person running one hour daily</div>
            <div *ngIf="bodyInfoForm.value.pal! <= 2.4 && bodyInfoForm.value.pal! >= 2.0" 
                class="description super-small-wide-text">Agricultural worker (non mechanized) or person swimming two hours daily
            </div>
            <div *ngIf="bodyInfoForm.value.pal! > 2.4" class="description super-small-wide-text">Competitive cyclist</div>
        </div>

        <div class="line-hr"></div>

        <div class="single-input">
            <label for="additional-calories"><b>Additional calories +/- </b></label>
            <input class="small-wide-text" type="number" id="additional-calories" name="additional-calories" 
                formControlName="additionalCalories" />
        </div>


        <button *ngIf="!isLoading" [ngClass]="{'dimmed': !bodyInfoForm.valid}" [disabled]="!bodyInfoForm.valid" 
            class="btn btn-primary-green bigger-on-hover" type="submit" >Submit</button>
        <app-spinner *ngIf="isLoading"></app-spinner>
    </form>

    <div class="line-vr"></div>

    <div id="calculations-container">
        <p id="calculations-title" class="big-text">Energetic needs</p>

        <div id="calculations">
            <div class="single-calculation">
                <p class="title normal-wide-text">Calories Goal</p>
                <p *ngIf="!isLoading" class="value normal-super-wide-text">{{caloriesGoal}} kcal</p>
                <app-spinner *ngIf="isLoading" [size]="'20px'"></app-spinner>
            </div>

            <div class="line-hr"></div>

            <div class="single-calculation">
                <p class="title">Total Daily Energy Expenditure</p>
                <p *ngIf="!isLoading" class="value">{{TDEE}} kcal</p>
                <app-spinner *ngIf="isLoading"  [size]="'10px'"></app-spinner>
            </div>

            <div class="single-calculation">
                <p class="title">Basal Energy Expenditure</p>
                <p *ngIf="!isLoading" class="value">{{BEE}} kcal</p>
                <app-spinner *ngIf="isLoading" [size]="'10px'"></app-spinner>
            </div>
        </div>
    </div>
</div>