<form (ngSubmit)="onSubmit()" [formGroup]="bodyInfoForm" class="small-wide-text">
    <div class="multi-input">
        <label for="goal"><b>I want to...</b></label>

        <div class="multi-input-choices">
            <div [ngClass]="{'chosen': bodyInfoForm.value.goal === 'LOSE_WEIGHT'}" class="single-input bigger-on-hover">
                <input type="radio" id="lose" formControlName="goal" name="goal" value="LOSE_WEIGHT">
                <label for="lose"><b>lose</b> weight</label>
            </div>

            <div [ngClass]="{'chosen': bodyInfoForm.value.goal === 'MAINTAIN_WEIGHT'}" class="single-input bigger-on-hover">
                <input type="radio" id="maintain" formControlName="goal" name="goal" value="MAINTAIN_WEIGHT">
                <label for="maintain"><b>maintain</b> weight</label>
            </div>
        
            <div [ngClass]="{'chosen': bodyInfoForm.value.goal === 'GAIN_WEIGHT'}" class="single-input bigger-on-hover">
                <input type="radio" id="gain" formControlName="goal" name="goal" value="GAIN_WEIGHT">
                <label for="gain"><b>gain</b> weight</label>
            </div>
        </div>
    </div>

    <div class="single-input">
        <label for="height"><b>Height</b> (cm)</label>
        <input class="small-wide-text" type="number" id="height" min="30" max="260" name="height" formControlName="height" />
    </div>

    <div class="single-input">
        <label for="weight"><b>Weight</b> (kg)</label>
        <input class="small-wide-text" type="number" id="weight" min="5" max="500" name="weight" formControlName="weight" />
    </div>
    
    <div class="single-input">
        <label for="age"><b>Age</b> (years)</label>
        <input class="small-wide-text" type="number" id="age" min="0" max="150" name="age" formControlName="age" />
    </div>
    
    <div class="single-input">
        <label for="pal"><b>Physical Activity Level</b> (1.4 - 2.4)</label>
        <input class="small-wide-text" type="number" id="pal" min="1.4" max="2.4" step="0.05" name="pal" formControlName="pal"  />
    </div>

    <button [ngClass]="{'dimmed': !bodyInfoForm.valid}" class="btn btn-primary-green bigger-on-hover" type="submit" [disabled]="!bodyInfoForm.valid">Submit</button>
</form>

