@import 'src/variables.sass'
    
#container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: $height-without-navbar
    width: 100%
    background-color: $color-bg-white

#banner
    text-align: center
    padding-bottom: 100px