<div id="container">
    <div id="bar-and-meals">
        <div id="utility-bar">
            <div id="show-filter">
                <fa-icon class="filter-icon" [icon]="filterIcon" [ngClass]="{'fa-flip-vertical': filtersVisible == true}" (click)="showFilters()"></fa-icon>
                <p class="small-wide-text" (click)="showFilters()">Show Filters</p>
            </div>
            <input id="search-bar" class="normal-text-light" placeholder="Search..."/>
        </div>



        <div class="meals" [ngClass]="{'display-none' : singleMealVisible === true}">
            <div id="filters" [ngClass]="{'display-none' : filtersVisible === false}" class="grey-bg display-none">
                <div id="sort-box">
                    <p class="small-wide-text green-text">Sort by:</p>
                    <p class="super-small-wide-text" *ngFor="let sort of sortCriterias">{{sort}}</p>
                </div>
                <div id="categories-box">
                    <p class="small-wide-text green-text box-title">Choose categories</p>
                    <p class="category super-small-wide-text" *ngFor="let category of categories">{{category.name}}</p>
                </div>
            </div>
            <div *ngFor="let meal of meals" class="meal" (click)="showSingleMeal(meal)">
                <img src="{{meal.image}}" alt="meal image" />
                <div class="meal-info">
                    <span>
                        <p class="meal-name super-small-wide-text">{{meal.name}}</p>
                        <div class="ingredients-names">
                            <p class="small-text">
                                {{meal.getIngredientsNames()}}
                            </p>
                        </div>
                    </span>
                    <button class="btn btn-small-green" (click)="addMealToDiet(meal)" (click)="$event.stopPropagation()">add</button>
                </div>
            </div>
        </div>

        <div id="single-meal" class="meals" [ngClass]="{'display-none' : singleMealVisible === false}">
            <div id="return-button" (click)="singleMealVisible = false">
                <fa-icon class="filter-icon" [icon]="returnIcon"></fa-icon>
                <p class="small-wide-text">return</p>
            </div>
            <div id="single-meal-info">
                <img src="{{singleMeal?.image}}" alt="meal image" />
                <div id="single-meal-specific-info-and-reviews">
                    <span>
                        <div id="single-meal-title" class="normal-text">{{singleMeal?.name}}</div>
                        <div id="single-meal-specific-info" class="small-wide-text">
                            <ul id="single-meal-ingredients" class="small-wide-text">
                                <li *ngFor="let ingredient of singleMeal?.ingredientsNames">{{ingredient}}</li>
                            </ul>
                            <ul id="single-meal-nutrition" class="small-wide-text">
                                <li>Protein: {{singleMeal?.proteinRatio}}%</li>
                                <li>Carbs: {{singleMeal?.carbsRatio}}%</li>
                                <li>Fats: {{singleMeal?.fatsRatio}}%</li>
                            </ul>
                        </div>
                    </span>
                    <div id="reviews">
                        <ul id="single-meal-review" *ngIf="singleMeal?.reviews?.length !== 0">
                            <li class="review" *ngFor="let review of singleMeal?.reviews">
                                <div class="img-container">
                                    <img src="{{review?.image}}" alt="reviewer image" />
                                </div>
                                <div class="name-and-content">
                                    <span class="name-and-rating">
                                        <p class="super-small-wide-text">{{review?.name}}</p>
                                        <p class="super-super-small-text">{{review?.rating}}/10</p>
                                    </span>
                                    <p *ngIf="review?.content" class="review-content super-small-text">{{review?.content}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="single-meal-recipe">
                <p class="normal-text">Recipe:</p>
                <p class="small-wide-text">{{singleMeal?.recipe}}</p>
            </div>
        </div>
    </div>




    <div id="diet-planner">
        <div id="day-bar">
            <div id="days">
                <div class="btn btn-round-white super-small-wide-text day" *ngFor="let day of diet; let i = index" [ngClass]="{'non-active-day' : i !== chosenDayIndex}" (click)="changeDay(i)">
                    {{i+1}}
                </div>
            </div>
            <span id="buttons">
                <fa-icon class="btn btn-small-green" [icon]="addIcon" (click)="addDayToDiet()"></fa-icon>
                <fa-icon class="btn btn-small-red" [icon]="deleteIcon" (click)="removeDayFromDiet()"></fa-icon>
            </span>
        </div>
        <div id="chosen-meals">
            <div *ngFor="let meal of diet[chosenDayIndex]" [ngStyle]="chosenMealBackground(meal.image)" class="chosen-meal">
                <div class="background-darkener">
                    <p class="chosen-meal-name super-small-wide-text">{{meal.name}}</p>
                    <fa-icon class="btn btn-small-red" [icon]="deleteIcon" (click)="removeMealFromDiet(meal)"></fa-icon>
                </div>
            </div>
        </div>
        <div id="button-box">
            <button class="btn btn-primary-green" (click)="continue()">Continue</button>
        </div>
    </div>
</div>

