@import 'src/variables.sass'

#container
    display: flex
    flex-direction: row
    height: $height-without-navbar

#bar-and-meals
    display: flex
    flex-direction: column
    width: 75%
    height: 100%

#utility-bar
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    height: 50px
    background-color: $color-white
    box-shadow: 0 0 10px $color-black-o07

#show-filter 
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    cursor: pointer
    height: 100%
    width: 25%
    transition: all 0.3s ease-in-out

#show-filter:hover
    background-color: $color-yellow
    // color: $color-yellow 

.filter-icon
    padding-right: 10px
    transition: all 0.5s ease-in-out

#filters
    display: flex
    flex-direction: row
    box-shadow: 0 3px 10px $color-black-o07
    width: 100%
    height: fit-content
    color: $color-white
    padding-bottom: 10px
    transition: all 0.5s ease-in-out !important

#sort-box
    display: flex
    flex-direction: column
    width: 500px
    gap: 5px
    padding: 30px
    border-right: 1px solid $color-black-o06

#sort-box p
    margin: 0

#sort-box p:first-child
    margin-top: 0
    margin-bottom: 10px

.sort:hover, .sort.active
    color: $color-yellow
    cursor: pointer


#categories-box
    display: flex
    flex-direction: row
    height: fit-content
    gap: 5px
    padding: 30px
    flex-wrap: wrap

#categories-box p:first-child
    margin-top: 0
    margin-bottom: 10px

.category
    width: 120px
    margin: 0

.category:hover, .category.active
    color: $color-yellow
    cursor: pointer

.box-title
    width: 100%
    margin: 0
    // margin-bottom: 20px

#utility-bar input
    width: 75%
    padding: 1px 15px
    margin: 0 50px
    border: none
    border-bottom: 1px solid $color-black-o06
    outline: none
    cursor: pointer




// ------------------ MEALS ------------------
#meals
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 100%
    height: calc(100% - 50px)
    flex-wrap: wrap
    overflow-y: scroll


#meals .meal
    width: 32%
    margin: 10px 0
    border-radius: 20px
    display: flex
    flex-direction: column
    overflow: hidden
    box-shadow: 1px 3px 15px $color-black-o04
    height: fit-content
    cursor: pointer

#meals .meal .meal-info
    padding: 0px 10px
    padding-bottom: 5px
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: $color-white

#meals .meal .meal-info p
    margin: 2px 0

#meals .meal .meal-info span .meal-name
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    line-clamp: 1
    -webkit-box-orient: vertical

#meals .meal img
    width: 100%
    aspect-ratio: 840/320

#meals .meal .meal-info .btn-small-green
    margin-top: auto
    
#meals .meal .meal-info .ingredients-names
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    line-clamp: 1
    -webkit-box-orient: vertical



// ---------------------------- DIET PLANNER ----------------------------
#diet-planner
    display: flex
    flex-direction: column
    width: 25%
    height: 100%
    background-color: $color-white
    box-shadow: 0 0 5px $color-black-o07

#diet-planner #day-bar
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 50px
    padding: 0 10px
    background-color: $color-yellow
    box-shadow: 0 0 5px $color-black-o07

#diet-planner #day-bar #days
    display: flex
    flex-direction: row
    align-items: center
    width: 60%
    height: 50px
    overflow: hidden
    overflow-x: overlay
    

#diet-planner .btn
    margin: 0 5px


#diet-planner #day-bar .day
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    min-width: 30px
    min-height: 30px

#diet-planner #button-box
    height: 6%
    margin-top: auto
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background-color: $color-white
    box-shadow: 0 0 5px $color-black-o07

#diet-planner #chosen-meals
    height: calc( 100% - 50px )
    overflow-y: scroll

#diet-planner #chosen-meals .chosen-meal
    margin: 10px
    border-radius: 20px

#diet-planner .chosen-meal .background-darkener
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background-color: $color-black-o06
    padding: 10px
    border-radius: 20px
    margin: 0  
    color: $color-white

#diet-planner .chosen-meal .chosen-meal-name
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 1
    line-clamp: 1
    -webkit-box-orient: vertical


// ---------------------------- SINGLE MEAL  ----------------------------
#single-meal-container
    margin: 20px
    display: flex
    flex-direction: column
    align-items: center
    flex-wrap: nowrap
    justify-content: flex-start
    background-color: $color-white
    border-radius: 20px
    box-shadow: 3px 3px 10px $color-black-o04

#single-meal
    display: flex
    flex-direction: column
    background-color: $color-yellow
    width: 90%
    border-radius: 20px
    margin-bottom: 20px
    box-shadow: 3px 3px 10px $color-black-o04

#single-meal img
    border-radius: 20px 20px 0 0

#single-meal-info
    padding: 10px

#single-meal-info p
    margin: 10px 0px


#reviews
    // padding: 10px
    display: flex
    flex-direction: column
    // background-color: $color-bg-white
    border-radius: 20px
    // box-shadow: 3px 3px 10px $color-black-o04

.review
    padding: 10px
    display: flex
    flex-direction: row
    align-items: center
    background-color: $color-white
    border-radius: 20px
    box-shadow: 3px 3px 10px $color-black-o04

.review img
    width: 50px
    height: 50px
    border-radius: 50%
    margin-right: 10px

.review .name-and-content
    display: flex
    flex-direction: row
    gap: 20px

.review .name-and-rating
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    gap: 5px


.left-cut
    margin-left: 20px !important
    


// ---------------------------- GENERAL CLASSES ----------------------------
.non-active-day
    opacity: 0.5

.active
    color: $color-yellow

#return-button
    height: fit-content !important
    display: flex
    padding: 10px
    flex-direction: row
    align-items: center
    justify-content: center
    cursor: pointer
    height: 50px
    margin: 15px
    margin-right: auto
    border-radius: 20px

#return-button p
    padding-left: 5px
    margin: 0

#return-button:hover
    background-color: $color-yellow