<div id="container">
    <div id="bar-and-meals">
        <div id="utility-bar" [formGroup]="mealQueryInput">
            <div id="show-filter" (click)="this.filtersVisible = !this.filtersVisible">
                <fa-icon class="filter-icon" [icon]="filterIcon" [ngClass]="{'fa-flip-vertical': filtersVisible}"></fa-icon>
                <p class="small-wide-text" >Show Filters</p>
            </div>

            <div class="line-vr"></div>

            <input id="search-bar" formControlName="nameContains" class="small-wide-text" placeholder="Search for a meal..." 
                (keydown.enter)="searchClicked()"/>
            <button *ngIf="!isSearching" class="search-button btn btn-small-green small-wide-text" [ngClass]="{'display-none' : this.formUpdated === false}" 
                (click)="searchClicked()">Search</button>
            <app-spinner *ngIf="isSearching" class="search-button"></app-spinner>    
        </div>

        <div id="filters" [formGroup]="mealQueryInput" *ngIf="filtersVisible" [@slideFromTop] class="grey-bg">
            <div id="sort-box">
                <p class="normal-text">Sort by:</p>
                <p [ngClass]="{'active': mealQueryInput.get('sortBy')?.value === sort}" class="super-small-text sort left-cut" (click)="toggleSortValue(sort)" 
                *ngFor="let sort of sortCriterias; let i = index">{{sort}}</p>
            </div>

            <div id="categories">
                <p class="normal-text box-title">Choose categories</p>
                <div id="categories-box">
                    <p [ngClass]="{'active': mealQueryInput.get('categories')?.value?.includes(category.name)}" 
                    class="category super-small-text left-cut" (click)="appendCategoryToQuery(category.name)" 
                    *ngFor="let category of categories; let i = index">
                        {{category.name}}
                    </p>
                </div>
            </div>

            <button *ngIf="!isSearching" class="search-button btn btn-small-green small-wide-text" [ngClass]="{'display-none' : this.formUpdated === false}" 
                (click)="searchClicked()">Search</button>
            <app-spinner *ngIf="isSearching" class="search-button"></app-spinner>    
        </div>

        <div id="meals" [ngClass]="{'display-none' : singleMealVisible === true}">
            <div id="meals-box">
                <button *ngIf="this.firstPageNumber != 0" class="append-start" (click)="appendMealsAtTheStart()">
                    <button class="button green-bg color-white">
                        <fa-icon class="icon-size-45" [icon]="addIcon" (click)="appendMealsAtTheStart()"></fa-icon>
                    </button>
                </button>

                <div *ngIf="isLoadingTop || isLoading" class="meal centered-meal">
                    <app-spinner></app-spinner>
                </div>

                <ng-container *ngFor="let meal of meals; let i = index">
                    <div class="meal" (click)="showSingleMeal(meal.idMeal)" (click)="$event.stopPropagation()">
                        <img src="{{meal.imageUrl}}" alt="meal image" />
                        <div class="meal-info">
                            <span>
                                <p class="meal-name super-small-wide-text">{{meal.name}}</p>
                                <div class="ingredients-names">
                                    <p class="super-super-small-wide-text">
                                        {{meal.getTwoIngredientsNames()}}
                                    </p>
                                </div>
                            </span>

                            <ng-container
                                *ngIf="isMealAssignedAlready(meal); then added; else add ">
                            </ng-container>

                            <ng-template #add>
                                <button class="btn btn-small-green" (click)="addMealToDiet($event, meal)">
                                        add
                                </button>
                            </ng-template>

                            <ng-template #added>
                                <button class="btn btn-small-gray" (click)="addMealToDiet($event, meal)">
                                        added
                                </button>
                            </ng-template>
                        </div>
                    </div>

                    <div class="ad-box" *ngIf="(i+1) % 15 === 0">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5062742448636216"
                        crossorigin="anonymous"></script>
                        <ins class="adsbygoogle"
                            style="display:block; text-align:center;"
                            data-ad-layout="in-article"
                            data-ad-format="fluid"
                            data-ad-client="ca-pub-5062742448636216"
                            data-ad-slot="5334448772"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </ng-container>

                <div *ngIf="noMoreMeals" class="meal add-meal">
                    <p>Out of meals?</p>
                    <button class="btn btn-small-green" routerLink="/addMeal">Add a new one</button>
                </div>

                <div *ngIf="isLoadingBottom" class="meal centered-meal">
                    <app-spinner></app-spinner>
                </div>
            </div>

            <div style="opacity: 0; width: 100%; margin-bottom: 10px; height: 5px;" #infinityScrollEnd></div>
        </div>

        <div id="single-meal-container" [ngClass]="{'display-none' : singleMealVisible === false}">
            <div id="return-button" class="btn btn-primary-gray" (click)="singleMealVisible = false">
                <fa-icon class="filter-icon" [icon]="returnIcon"></fa-icon>
                <p class="small-wide-text">return</p>
            </div>

            <app-spinner *ngIf="isSingleMealLoading"></app-spinner>

            <div *ngIf="!isSingleMealLoading" id="single-meal">
                <img src="{{singleMeal.imageUrl}}" alt="meal image" />

                <div id="single-meal-info">
                    <p class="normal-super-wide-text">{{singleMeal.name}}</p>
                    
                    <ng-container *ngFor="let ingredient of singleMeal.ingredientsNames">
                        <p class="small-wide-text left-cut">{{ingredient}}</p>
                    </ng-container>

                    <br>
                    <p class="small-super-wide-text">Ratio:</p>
                    <p class="left-cut">Protein: {{singleMeal.proteinRatio}}%</p>
                    <p class="left-cut">Carbs: {{singleMeal.carbsRatio}}%</p>
                    <p class="left-cut">Fats: {{singleMeal.fatsRatio}}%</p>
                    
                    
                    <br>
                    <div id="single-meal-recipe">
                        <p class="small-super-wide-text">Recipe:</p>
                        <p class="small-wide-text left-cut">{{singleMeal.recipe}}</p>
                    </div>
                    
                    <br>
                    <div id="reviews" *ngIf="singleMeal?.reviews?.length !== 0">
                        <p class="small-super-wide-text">Reviews:</p>
                        <div class="review" *ngFor="let review of singleMeal?.reviews">
                            <img src="{{review?.imageUrl}}" alt="reviewer image" />
                            
                            <div class="name-and-content">
                                <span class="name-and-rating">
                                    <p class="small-wide-text">{{review?.name}}</p>
                                    <p class="small-wide-text">{{review?.rating}}/10</p>
                                </span>
                                <p *ngIf="review?.content" class="review-content super-small-wide-text">{{review?.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary-green normal-text" (click)="addMealToDiet($event, singleMeal)">Add to diet</button>
        </div>
    </div>

    <div id="diet-planner" [class.top]="mobileDietPlannerVisible" [class.bottom]="!mobileDietPlannerVisible && !firstShow">
        <div id="day-bar">
            <fa-icon *ngIf="isViewportLessThan600px" class="filter-icon fa-2x" [icon]="filterIcon" [ngClass]="{'fa-flip-vertical': !mobileDietPlannerVisible}"
                (click)="mobileDietPlannerVisible = !mobileDietPlannerVisible; firstShow=false"></fa-icon>

            <div id="days">
                <button class="btn btn-round-white small-wide-text day" *ngFor="let day of diet; let i = index" [ngClass]="{'non-active-day' : i !== chosenDayIndex}" 
                (click)="this.chosenDayIndex = i">
                    {{i+1}}
                </button>
            </div>
            <div id="buttons">
                <button class="button round green-bg color-white">
                    <fa-icon class="icon-size-29" [icon]="addIcon" (click)="addDayToDiet()"></fa-icon>
                </button>
                <button class="button round red-bg color-white">
                    <fa-icon class="icon-size-22" [icon]="deleteIcon" (click)="removeDayFromDiet()"></fa-icon>
                </button>
            </div>
        </div>

        <div id="chosen-meals">
            <div *ngFor="let meal of diet[chosenDayIndex]" [ngStyle]="chosenMealBackground(meal.imageUrl)" class="chosen-meal">
                <div class="background-darkener">
                    <p class="chosen-meal-name super-small-wide-text">{{meal.name}}</p>
                    <button class="btn btn-small-red">
                        <fa-icon [icon]="deleteIcon" (click)="removeMealFromDiet(meal)"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <div id="button-box">
            <button *ngIf="!isUploading" class="btn btn-primary-green" (click)="continue()">Continue</button>
            <app-spinner *ngIf="isUploading"></app-spinner>
        </div>
    </div>
</div>

