<div id="container">
    <div id="bar-and-meals">
        <div id="utility-bar" [formGroup]="mealQueryInput">
            <div id="show-filter" (click)="this.filtersVisible = !this.filtersVisible">
                <fa-icon class="filter-icon" [icon]="filterIcon" [ngClass]="{'fa-flip-vertical': filtersVisible == true}"></fa-icon>
                <p class="small-wide-text" >Show Filters</p>
            </div>

            <div class="line-vr"></div>

            <input id="search-bar" formControlName="nameContains" class="small-wide-text" placeholder="Meal name..."/>
            <button id="search-button" class="btn btn-small-green" [ngClass]="{'display-none' : this.formUpdated === false}" (click)="searchClicked()">Search</button>
        </div>

        <div id="meals" [ngClass]="{'display-none' : singleMealVisible === true}">
            <div id="filters" [formGroup]="mealQueryInput" [ngClass]="{'display-none' : filtersVisible === false}" class="grey-bg">
                <div id="sort-box">
                    <p class="normal-text">Sort by:</p>
                    <p [ngClass]="{'active': mealQueryInput.get('sortBy')?.value === sort}" class="super-small-text sort left-cut" (click)="toggleSortValue(sort)" 
                    *ngFor="let sort of sortCriterias; let i = index">{{sort}}</p>
                </div>

                <div id="categories-box">
                    <p class="normal-text box-title">Choose categories</p>
                    <p [ngClass]="{'active': mealQueryInput.get('categories')?.value?.includes(category.name)}" class="category super-small-text left-cut" 
                    (click)="appendCategoryToQuery(category.name)" *ngFor="let category of categories; let i = index">{{category.name}}</p>
                </div>
            </div>

            <div style="opacity: 0; width: 100%; height: 5px" #infinityScrollStart></div>
            <div id="meals-box">
                <ng-container *ngFor="let meal of meals; let i = index">
                    <div class="meal" (click)="showSingleMeal(meal)">
                        <img src="{{meal.imageUrl}}" alt="meal image" />
                        <div class="meal-info">
                            <span>
                                <p class="meal-name super-small-wide-text">{{meal.name}}</p>
                                <div class="ingredients-names">
                                    <p class="super-super-small-wide-text">
                                        {{meal.getIngredientsNames()}}
                                    </p>
                                </div>
                            </span>
                            <button class="btn btn-small-green" (click)="addMealToDiet(meal)" (click)="$event.stopPropagation()">add</button>
                        </div>
                    </div>

                    <div class="ad-box" *ngIf="(i+1) % 15 === 0">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5062742448636216"
                        crossorigin="anonymous"></script>
                        <ins class="adsbygoogle"
                            style="display:block; text-align:center;"
                            data-ad-layout="in-article"
                            data-ad-format="fluid"
                            data-ad-client="ca-pub-5062742448636216"
                            data-ad-slot="5334448772"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </ng-container>
            </div>
            <div style="opacity: 0; width: 100%; margin-bottom: 10px; height: 5px;" #infinityScrollEnd></div>
        </div>

        <div id="single-meal-container" [ngClass]="{'display-none' : singleMealVisible === false}">
            <div id="return-button" class="bigger-on-hover" (click)="singleMealVisible = false">
                <fa-icon class="filter-icon" [icon]="returnIcon"></fa-icon>
                <p class="small-wide-text">return</p>
            </div>

            <div id="single-meal">
                <img src="{{singleMeal.imageUrl}}" alt="meal image" />

                <div id="single-meal-info">
                    <p class="normal-super-wide-text">{{singleMeal.name}}</p>
                    <p class="small-wide-text left-cut">{{singleMeal!.getIngredientsNames()}}</p>

                    <br>
                    <p class="small-super-wide-text">Ratio:</p>
                    <p class="left-cut">Protein: {{singleMeal.proteinRatio}}%</p>
                    <p class="left-cut">Carbs: {{singleMeal.carbsRatio}}%</p>
                    <p class="left-cut">Fats: {{singleMeal.fatsRatio}}%</p>
                    
                    
                    <br>
                    <div id="single-meal-recipe">
                        <p class="small-super-wide-text">Recipe:</p>
                        <p class="small-wide-text left-cut">{{singleMeal.recipe}}</p>
                    </div>
                    
                    <br>
                    <div id="reviews" *ngIf="singleMeal?.reviews?.length !== 0">
                        <p class="small-super-wide-text">Reviews:</p>
                        <div class="review" *ngFor="let review of singleMeal?.reviews">
                            <img src="{{review?.imageUrl}}" alt="reviewer image" />
                            
                            <div class="name-and-content">
                                <span class="name-and-rating">
                                    <p class="small-wide-text">{{review?.name}}</p>
                                    <p class="small-wide-text">{{review?.rating}}/10</p>
                                </span>
                                <p *ngIf="review?.content" class="review-content super-small-wide-text">{{review?.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="diet-planner">
        <div id="day-bar">
            <div id="days">
                <div class="btn btn-round-white super-small-wide-text day" *ngFor="let day of diet; let i = index" [ngClass]="{'non-active-day' : i !== chosenDayIndex}" 
                (click)="this.chosenDayIndex = i">
                    {{i+1}}
                </div>
            </div>
            <div id="buttons">
                <div class="button round green-bg color-white">
                    <fa-icon size="lg" [icon]="addIcon" (click)="addDayToDiet()"></fa-icon>
                </div>
                <div class="button round red-bg color-white">
                    <fa-icon size="sm" [icon]="deleteIcon" (click)="removeDayFromDiet()"></fa-icon>
                </div>
            </div>
        </div>

        <div id="chosen-meals">
            <div *ngFor="let meal of diet[chosenDayIndex]" [ngStyle]="chosenMealBackground(meal.imageUrl)" class="chosen-meal">
                <div class="background-darkener">
                    <p class="chosen-meal-name super-small-wide-text">{{meal.name}}</p>
                    <fa-icon class="btn btn-small-red" [icon]="deleteIcon" (click)="removeMealFromDiet(meal)"></fa-icon>
                </div>
            </div>
        </div>

        <div id="button-box">
            <button class="btn btn-primary-green" (click)="continue()">Continue</button>
        </div>
    </div>
</div>

