<app-base>
    <div [formGroup]="loginForm" id="login-container">
        <p *ngIf="!isLoading" [ngClass]="{'red-text': loginFailed, 'green-text': loginSuccessfull}">{{message}}</p>
        <app-spinner *ngIf="isLoading"></app-spinner>
        
        <input [ngClass]="{'red-border': loginForm.get('email')!.invalid && loginForm.controls.email.touched}" 
            formControlName="email" id="email" placeholder="email" (ngModelChange)="retryLogin()" (keydown.enter)="login()">
        <input [ngClass]="{'red-border': loginForm.get('password')!.invalid && loginForm.controls.password.touched}" 
            formControlName="password" id="password" type="password" placeholder="password" (ngModelChange)="retryLogin()" 
            (keydown.enter)="login()">

        <button id="login-button" [ngClass]="{'dimmed': !loginForm.valid}" (click)="login()" [disabled]="!loginForm.valid">
            Log in</button>
        
        <div id="divider">
            <hr>
            <p>or</p>
            <hr>
        </div>

        <button id="change-view-button" (click)="signup()">Create a new account</button>
    </div>
</app-base>
