<app-base>
    <div [formGroup]="loginForm" id="login-container">
        <p [ngClass]="{'red-text': loginFailed, 'green-text': loginSuccessfull}">{{message}}</p>
        <input formControlName="email" id="email" placeholder="email">
        <input formControlName="password" id="password" type="password" placeholder="password">
        <button id="login-button" [ngClass]="{'dimmed': !loginForm.valid}" (click)="login()" [disabled]="!loginForm.valid">Log in</button>
        <div id="divider">
            <hr>
            <p>or</p>
            <hr>
        </div>
        <button id="signup-button" (click)="signup()">Create a new account</button>
    </div>
</app-base>
