<app-base>
    <div [formGroup]="loginForm" id="login-container">
        <p>Sign in to your account</p>
        <input formControlName="email" id="email" placeholder="email">
        <input formControlName="password" id="password" type="password" placeholder="password">
        <button id="login-button" (click)="login()">Log in</button>
        <div id="divider">
            <hr>
            <p>or</p>
            <hr>
        </div>
        <button id="signup-button" (click)="signup()">Create a new account</button>
    </div>
</app-base>
