@import 'src/variables.sass'
@import '~@angular/cdk/overlay-prebuilt.css'

body
    height: 100vh
    margin: 0
    color: $color-text-black
    font-size: $font-size-1
    font-family: 'Roboto', sans-serif
    overflow-y: overlay
    background-color: $color-bg-white

div
    box-sizing: border-box

#container 
    width: 100%
    padding-top: $height-navbar  
  
button
    border: none
    transition: box-shadow 0.5s ease, transform 0.5s ease
    &:hover
        box-shadow: 2px 4px 8px $color-black-o04
        transform: scale(1.03)

button, input
    font-family: 'Roboto', sans-serif
    cursor: pointer

input
    outline: none
    transition: box-shadow 0.3s ease, transform 0.3s ease
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    &:hover, &:focus
        transform: scale(1.01)

.btn
    border: none
    cursor: pointer

.btn-primary-green
    background-color: $color-green
    padding: 5px 15px
    border-radius: 40px
    font-size: $font-size-1
    color: $color-white

.btn-primary-red
    background-color: $color-red
    padding: 5px 15px
    border-radius: 40px
    font-size: $font-size-1
    color: $color-white

.btn-primary-gray
    @extend .btn-primary-green
    background-color: $color-black-o06

.btn-small-green
    height: fit-content
    padding: 3px 15px
    border-radius: 40px
    background-color: $color-green
    color: $color-white
    font-size: $font-size-0

.btn-small-gray
    @extend .btn-small-green
    background-color: $color-black-o06

.btn-small-red
    height: fit-content
    padding: 3px 15px
    border-radius: 40px
    background-color: $color-red
    color: $color-white
    font-size: $font-size-0

.btn-round-white
    border-radius: 50%
    background-color: $color-white






.big-text
    font-size: $font-size-4
    font-weight: $font-weight-medium
    margin: 10px 0

.normal-text
    font-weight: $font-weight-light
    font-size: $font-size-2

.normal-wide-text
    font-weight: $font-weight-normal
    font-size: $font-size-2

.normal-super-wide-text
    font-weight: $font-weight-fat
    font-size: $font-size-2

.normal-text-light
    font-weight: $font-weight-extra-light
    font-size: $font-size-2

.small-text
    font-weight: $font-weight-extra-light
    font-size: $font-size-1

.small-wide-text
    font-weight: $font-weight-normal
    font-size: $font-size-1

.small-super-wide-text
    font-weight: $font-weight-fat
    font-size: $font-size-1

.super-small-text
    font-weight: $font-weight-extra-light
    font-size: $font-size-0

.super-small-wide-text
    font-weight: $font-weight-normal
    font-size: $font-size-0

.super-super-small-text
    font-weight: $font-weight-normal
    font-size: $font-size--1

.super-super-small-wide-text
    font-weight: $font-weight-normal
    font-size: $font-size--1



.red-text
    color: $color-red

.red-border
    border-color: $color-red !important

.green-text
    color: $color-green
   
.show-white-space
  white-space: pre-wrap    

.display-none
    display: none !important

.bg-none
    background-color: transparent
    &:hover
        box-shadow: none

.dimmed
    opacity: 0.5

.disabled
    @extend .dimmed
    cursor: default
    &:hover
        transform: none
        box-shadow: none

// Scroll 
::-webkit-scrollbar
    width: 0px

::-webkit-scrollbar-track 
    background-color: transparent

::-webkit-scrollbar-thumb
    background-color: #d6dee1
    border-radius: 20px
    border: 6px solid transparent
    background-clip: content-box

::-webkit-scrollbar-thumb:hover 
    background-color: #a8bbbf

.yellow-text
    color: $color-yellow

.green-text
    color: $color-green

.grey-bg
    background-color: $color-grey

.green-bg
    background-color: $color-green

.red-bg
    background-color: $color-red

.color-white
    color: $color-white

.color-black
    color: $color-black

.go-right
    margin-left: auto !important

.go-center
    margin-left: auto !important
    margin-right: auto !important


.bigger-on-hover 
    transition: all 0.3s ease-in-out

    &:hover
        transform: scale(1.05)

.line-hr
    margin: 15px 0px
    width: 100%
    border-top: 1px solid $color-black

.line-vr
    margin: 0px 5px
    height: 90%
    border-left: 1px solid $color-black

.icon-size-22
    font-size: 22px

.icon-size-20
    font-size: 20px

.icon-size-29
    font-size: 29px

.icon-size-45
    font-size: 45px

fa-icon
    display: grid
    place-items: center

@keyframes pulse
    30%
        scale: 1
    40%
        scale: 1.15
        box-shadow: 1px 3px 15px $color-black-o06
    50%
        scale: 1
    60%
        scale: 1.15
        box-shadow: 1px 3px 15px $color-black-o06
    70%
        scale: 1

@keyframes moveUp
  0%
    transform: translateY(0px)
  100%
    transform: translateY(calc(-100vh + 61px))        

@keyframes moveDown
  0%
    transform: translateY(calc(-100vh + 61px))
  100%
    transform: translateY(0px)   
