@import 'src/variables.sass'
@import '~@angular/cdk/overlay-prebuilt.css'

body
    height: 100vh
    margin: 0
    color: $color-text-black
    font-size: $font-size-1
    font-family: 'Roboto', sans-serif

#container 
    width: 100%
    padding-top: $height-navbar

button
    font-family: 'Roboto', sans-serif

.btn
    border: none
    border-radius: 40px
    padding: 5px 15px
    cursor: pointer

.btn-primary-green
    background-color: $color-green
    padding: 5px 15px
    font-size: $font-size-1
    color: $color-white

.bigger-text
    font-size: $font-size-4
    font-weight: $font-weight-medium
    margin: 10px 0

.normal-text
    font-weight: $font-weight-light
    font-size: $font-size-2

.small-text
    font-weight: $font-weight-extra-light
    font-size: $font-size-1