@import 'src/variables.sass'
@import '~@angular/cdk/overlay-prebuilt.css'

body
    height: 100vh
    margin: 0
    color: $color-text-black
    font-size: $font-size-1
    font-family: 'Roboto', sans-serif

button
    font-family: 'Roboto', sans-serif