$color-white: #fff
$color-black: #000
$color-text-black: #151515
$color-green: #52b042
$color-red: #D01d1d

$text-size-1: 20px
$text-size-2: 30px

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-medium: 500