<div id="container">
    <div id="landing-page">
        <div id="big-text">
            <p>Are you looking for a</p>
            <p><b class="yellow">FREE</b></p>
            <p><b>personalised</b> diet?</p>
        </div>
        <div id="normal-text">
            <p>Do you want to <b>eat what you want</b> and <br>be <b>healthier</b> and <b>better looking</b> than ever?</p>
        </div>
        <div id="small-text">
            <p>Then follow these 3 simple steps</p>
        </div>
        <fa-icon [icon]="faAnglesDown" class="yellow icon"></fa-icon>
    </div>
</div>
