<div id="container">
    <div id="landing-page">
        <div id="big-text">
            <p>Are you looking for a</p>
            <p><b class="yellow">FREE</b></p>
            <p><b>personalised</b> diet?</p>
        </div>
        <div id="normal-text">
            <p>Do you want to <b>eat what you like</b><br> and be <b>healthier</b> and <b>better looking</b> than ever?</p>
        </div>
        <div id="small-text">
            <p>Then follow these 3 simple steps</p>
        </div>
        <fa-icon [icon]="faAnglesDown" class="yellow icon fa-bounce" style="--fa-animation-delay: 5s; 
            --fa-animation-iteration-count: 3" (click)="scroll(target)"></fa-icon>
    </div>

    <div id="steps" #target>
        <div class="step yellow-bg">
            <div class="step-info">
                <p class="big-text">Step 1</p>
                <p class="normal-wide-text">Choose Your favourite meals</p>
            </div>
            
            <div id="img-1" class="step-body white-bg"></div>
        </div>

        <div class="step white-bg">
            <div class="step-info">
                <p class="big-text">Step 2</p>
                <p class="normal-wide-text">Modify personalised diet <span class="normal-text-light">(optional)</span></p>
            </div>

            <div id="img-2" class="step-body yellow-bg"></div>
        </div>

        <div class="step yellow-bg">
            <div class="step-info">
                <p class="big-text">Step 3</p>
                <p class="normal-wide-text">Enjoy!</p>
            </div>

            <div class="step-body white-bg">
                <button class="start-button btn btn-primary-green normal-wide-text" routerLink="/diet">Start creating Your diet</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
